.tablehead{
    background-color: #0e2643 !important; 
    color: white !important;
    text-align: center; 
    
}
.trtext{
    /* color: #0e2643 !important; */
    font-size: 14px !important  ; 
    text-align: center;
    /* justify-content: center; */
    /* font-weight:lighter;  */
}
.addmembtn {
    color: white;
    background-color: #0e2643;
    padding: 0.3rem;
    border-radius: 0.375rem;

  }

.inputdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    .trtext{
        width: 80px;
    }
}